<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="armmodel">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import armmodel urdf file -->
    <xacro:include filename="$(find armmodel)/urdf/armmodel.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="armmodel.ros2_control.xacro" />


    <xacro:armmodel_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
